<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    position:relative;
    top:100px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.heading{
color:black;
position:relative;
top:80px;
text-align:center;
font-weight:bold;
font-size:medium;
}
  </style>
</head>
<body>
<p class="heading">This page displays the list of the total urls that you've checked till now!</p>
<table>
    <tr>
        {% for col in column_names %}
        <th>{{col}}</th>
        {% endfor %}
    </tr>
    {% for row in row_data %}
    <tr>
        {% for col, row_ in zip(column_names, row) %}
        <td>{{row_}}</td>

        {% endfor %}
    </tr>
    {% endfor %}

</table>

</body>
</html>
{% endblock %}